.testimonials {
    padding: 97px 0 78px 0;
    position: relative;
    &__forks {
        
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
        max-width: 361px;
    }
    &__inner {
        
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__subtitle {
        
    }
    &__slide-desc {
        display: flex;
        column-gap: 15px;
        align-items: center;
    }
    &__title {
    }
    &__wrapper {
    }
    &__picture {
    }
    &__foto {
    }
    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $blackColor;
        margin-bottom: 3px;
    }
    &__job {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $grayColor;
    }
    &__text {
        margin-top: 54px;
        text-align: center;
        font-weight: 400;
        

    }
    &__image {
    }
    &__image-pic {

        width: 100%;
        max-width: 569px;
    }
}

.container {
}
.subtitle {
    &_center {
    }
}
.title {
    &_center {
    }
}
.swiper {
    width: 570px;
    height: 308px;
    position: relative;
    

}
.swiper-wrapper {
}
.swiper-slide {
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
.swiper-button-prev {  
    top: unset;
    bottom: 0;
    /*left: 221px;*/
    left: 50%;
    transform: translateX(calc(-100% - 15px));
    width: 50px;
    height: 50px;
    background: #F16214;
    border-radius: 10px;
    transition: 0.3s all ease;
    &:hover {
        background: white;
        border: 1.5px solid #EEEEEE;
        box-sizing: border-box;
        path {
            fill: $accentColor;
            


        }
        line {
            stroke: $accentColor;

        }

    }
    
    &::after {
        content: none;
    }

}
.swiper-button-next {
    top: unset;
    bottom: 0;
    /*left: 301px;*/
    right: unset;    
    left: 50%;
    transform: translateX(15px);
    width: 50px;
    height: 50px;
    background: $accentColor;
    border-radius: 10px;
    svg {
        transform: rotate(-180deg);
    }
    &:hover {
        background: white;
        border: 1.5px solid #EEEEEE;
        box-sizing: border-box;
        path {
            fill: $accentColor;


        }
        line {
            stroke: $accentColor;

        }

    }
    &::after {
        content: none;
    }
}

