@media screen and (max-width: $breakpoint1300) {
    .box {
        &__wrapper {
            width: 1125px;

        }
    }
}




@media screen and (max-width: $breakpoint1200) {
    .box {
        padding: 80px 0;

        &__box {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
        }

        &__wrapper {
            width: 870px;
            align-items: center;
            padding: 51px 30px 51px 30px;

        }

        &__burger {
            position: unset;



        }

    }



}

@media screen and (max-width: $breakpoint768) {
    .box {
        padding: 40px 0;

        &__wrapper {
            width: 555px;
            height: 340px;


        }

        &__title {
            text-align: center;
        }

        &_text {
            text-align: center;
            width: 400px;


        }

        &__form-label {
            width: 450px;
        }

    }
}

@media screen and (max-width: $breakpoint575) {
    .box {
        padding: 15px 0;

        &__wrapper {
            width: 285px;
            height: 411px;




        }

        &__text {
            width: 244px;
        }

        &__form-label {
            width: 250px;
            height: 47px;

        }

        &__btn {
            width: 83px;
            height: 39px;
            font-size: 12px;
            padding: 9px 14px;
            right: 4px;
            top: 4px;
        }

    }
}